doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title <%=projectName%>
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="styles/main.css" rel="stylesheet")
  body

  script(src="scripts/main.min.js")
